.statsContainer {
  position: relative;
  bottom: 45px;
  min-height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #f1f8ff;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.statsText {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 735px) {
  .statsContainer {
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .statsContainer2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .statsText {
    display: flex;
    flex-direction: column;
  }
  .statsText > p {
    font-size: 1rem;
  }

  .statsText > div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .statsText > div > p:first-child {
    font-size: 2rem;
    font-weight: 800;
    color: #000a2d;
  }

  .plus {
    width: 33px;
    height: 50px;
    line-height: 50px;
    color: #0e89fc;
    font-size: 50px;
  }
}
