.inline {
  display: flex;
}
.flexBetween {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
}

.flexEven {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.right {
  margin-left: auto;
}

@media screen and (max-width: 735px) {
  .flexBetween {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .flexBetween {
    padding: 0px;
    margin: 0;
  }
}
